.about-header{
    text-align: center;
}
.icon, .title{
    display: inline-block;
}
.description p{
    margin-left: 3.5rem;
    margin-right: 3.5px;
    text-align: justify;
}
.icon span{
    border: 1px solid black;
    padding: 13px 15px;
    border-radius: 30px;
}
main img{
  width: 100%;
  height: auto;
}