.contact-tag.container{
    text-align: center;
    line-height: 0.5;
}

.input-block{
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
}
.input-block label{
    margin-bottom: 10px;
}
    

